.main{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-gap:20px 10px;
    height: 100%;
    width:100%;
    margin: auto;
    margin-left: 180px;
}
.abc{
    margin: 15px;
    background-color: rgb(244, 0, 0);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}
.pqr{
    margin: 15px;
    background-color: rgb(8, 8, 238);
    color: white;
    border: 2px solid white;
    border-radius:5px;
}
.xyz{
    margin: 15px;
    background-color: rgb(4, 215, 4);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}
img{
height:270px;
width:267px;
align-items: center;

}
#A{
padding: 10px;
border: 1px solid white;
background-color: maroon;
color: white;
box-shadow: 0 0 5px white;
margin: 15px;
border-radius: 5px;
}
#B{
padding: 10px;
border: 1px solid white;
background-color: darkblue;
color: white;
box-shadow: 0 0 5px white;
margin:15px;
border-radius: 5px;
}
#C{
padding: 10px;
border:1px solid white;
background-color: darkgreen;
color: white;
box-shadow: 0 0 5px white;
margin: 15px;
border-radius: 5px;
}
h2{
margin-left:20px;
font-size: 18px;
font-weight: bold;
}
button{
background-color: rgb(13, 13, 13);
color: white;
border-radius: 0 20px;
padding: 10px;
margin: 10px 20px 30px 20px;
}
