.Rutu{
    color: brown;
    background-color: aqua;
}
.Vruta{
    text-align: center;
}
.xyz{
    color: blueviolet;
    background-color: antiquewhite;
    text-align: center;
}
.abc{
    color: rgb(238, 148, 163);
    background-color: black;
    text-align: center;
}