{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c7.css' %}">
</head>
<body>

    <div id="abc"><h2>HTML</h2></div>
    <div id="mno"><h2>CSS</h2></div>
    <div id="pqr"><h2>HTML</h2>
      <div id="d"><h4>CSS</h4>
      </div>
  </div>
    <div><h2 id="uvw">BOOTSTRAP</h2></div>
    <div><h2 id="xyz">JAVA SCRIPT</h2></div>
      
    
</body>
</html>