{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c6.css' %}">
</head>
<body>
    
    <h1 align="center">GOOD MORNING</h1>
    <h2>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima odio accusantium suscipit alias totam ea quo, accusamus optio, aspernatur laboriosam quod qui magni laborum nihil maxime quasi. 

    </p>
    </h2>

</body>
</html>