{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c13.css' %}">
</head>
<body>
    <div class="main">
        <div class="abc">
            <img src="{% static 'images/kohli.jpg' %}" alt="" srcset="">
            <div>
                <h2>About Virat Kohli</h2>
                <p id="A">Virat Kohli is an Indian international cricketor and former captain 
                    of the Indian national team who plays as a right-handed batsman for Royal 
                    Challengers Banglore in th IPL and for Delhi in Indian domestic cricket.
                </p>
                <button>VIRAT</button>
                </div>
                </div>
                <div class="pqr">
                    <img src="{% static 'images/dhoni.jpg' %}" alt="" srcset="">
                    <div>
                    <h2>About MS Dhoni</h2>
                    <p id="B">Mahendra Singh Dhoni, commanly known as MS Dhoni, is a former Indian cricketor 
                        and captain of the Indian national team in limited-overs formats from 2007 to 2017, and
                        in Test cricket from 2008 to 2014.
                    </p>
                    <button>DHONI</button>
                    </div>
                    </div>
                    <div class="xyz">
                        <img src="{% static 'images/karthik.jpg' %}" alt="" srcset="">
                        <div>
                        <h2>About Dinesh Karthik</h2>
                        <p id="C">Krishnakumar Dinesh Karthik is an Indian professional cricketor and commentator
                            who nationally plays for the Indain Cricket Team and currently in Indain Premier League
                            playing for Royal Challengers Banglore.
                        </p>
                        <button>KARTHIK</button>
                    </div>
                </div>
    </div>
    
</body>
</html>

</body>
</html>