{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c12.css' %}">

</head>
<body>
    <div class="main">
        <div class="ab">
            <h4>Asia/Kplkata</h4>
            <h1>INDIA</h1>
            <h5>2/24/2023</h5>
            <h2>5:41:17 PM</h2>
        </div>
        <div class="pq">
            <h4>America/New-York</h4>
            <h1>USA</h1>
            <h5>2/24/2023</h5>
            <h2>7:11:17 AM</h2>
        </div>
        <div class="xy">
            <h4>Asia/Shanghai</h4>
            <h1>CHINA</h1>
            <h5>2/24/2023</h5>
            <h2>8:11:17 PM</h2>
</body>
</html>